/* Estilos del header */
header {
    position: relative;
    background-color:rgb(0, 140, 255);
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: flex;
}

/* Estilos del buscador de la página */
.boton{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Posicionamiento caja buscador */
#cajabuscador{
    position: absolute;
    top: 35px;
    left: 1625px;
}

/* Posicionamiento caja que contiene el logo y la dirección de la empresa */

#cajaempresa{
    position: relative;
    width: 350px;
    left: 25px;
}

/* Estilos del logo de empresa */
#logoEmpresa{
    width: 75px;
    border-radius: 8px;
    margin: 5px;
}

/* Estilos de la caja que contiene la dirección del local */
#cajadireccion{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 100px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* Posicionamiento caja título H1 */

#cajah1{
    position: absolute;
    text-align: center;
    width: 500px;
    left: 750px;
    top: 5px;
    bottom: 5px;
}

/* Estilos body */
body{
    background-color: beige;
}

/* Estilos sección imágenes principales */

#idCrea{
    margin-left: 275px;
    margin-right: 250px;
    padding: 4px;
    letter-spacing: 2px;
    font-size: large;
}

#idRepara{
    margin-left: 200px;
    margin-right: 250px;
    padding: 4px;
    letter-spacing: 2px;
    font-size: large;
}

#idDisfruta{ 
    margin-left: 200px;
    margin-right: 250px;
    padding: 4px;
    letter-spacing: 2px;
    font-size: large;
}

/* Estilos tablas */
table, td, th{
    border-style: groove;
    width: 100%;
}

/* Estilos de la clase iconosCatalogo*/
.iconosCatalogo{
    border-radius: 20px;
}

/* Estilos del footer*/

footer{
    background-color:rgb(0, 140, 255);
    border-radius: 8px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* Posicionamiento caja responsable de tienda */
#cajaresponsabletienda{
    position: relative;
    left: 25px;
}


/* Caja registro de empresa */
#cajaregistro{
    position: relative;
    left: 1400px;
    align-content: center;
}




